<div class="col-lg-2"></div>
<div class="col-lg-8">

	<div id="" class="row col-lg-12" style="padding-bottom: 20px;">
		<label class="control-label col-md-4" style="padding-left: 0px;">Project</label>
		<select id="project_select" class="form-control col-lg-8">
			<option value="all">All</option>
		</select>
	</div>
	<div id="" class="row col-lg-12" style="padding-bottom: 20px;">
		<label class="control-label col-lg-4" style="padding-left: 0px;">Form</label>
		<select id="form_select" class="form-control col-lg-8"> 
                        <option value="all">All</option>
                </select>
	</div>
	<div id="" class="row col-lg-12" style="padding-bottom: 20px;">
		<label class="control-label col-lg-4" style="padding-left: 0px;">Site</label>
		<select id="site_select" class="form-control col-lg-8">
                        <option value="all">All</option>
                </select>
	</div>
	
	<!--<div id="" class="row col-lg-12" style="padding-bottom: 20px;">
		<label class="control-label col-lg-4" style="padding-left: 0px;">User</label>
		<select id="user_select" class="form-control col-lg-8">
                        <option value="all">All</option>
                </select>
	</div>-->

	<div id="" class="row col-lg-12" style="padding-bottom: 20px;">
		<button class="btn btn-primary" id="getData">Get Data</button>
	</div>		
</div>
<div class="col-lg-2"></div>
